.contenedor-formulario {
  display: flex;
  justify-content: center;
  margin-left: var(--xs);
  margin-right: var(--xs);
}

.contenedor-formulario__form {
  width: 100%;
  max-width: 450px;
}

.contenedor-formulario__form__campo-formulario {
  font-size: var(--font-medium);
  margin: var(--m) 0;
  display: flex;
  flex-direction: column;
}

.contenedor-formulario__form__campo-formulario input,
.contenedor-formulario__form__campo-formulario textarea {
  padding: var(--xs);
  border-radius: var(--xs);
  border: 1px solid black;
}

.contenedor-formulario__form__campo-formulario label {
}

.contenedor-formulario__form__campo-horizontal {
  display: flex;
  align-content: space-around;
  gap: var(--l);
  justify-content: center;
}

.horizontal {
  flex-direction: row;
  gap: var(--m);
}

.contenedor-formulario__form__campo-horizontal__sexo {
  display: flex;
  align-items: center;
}

.contenedor-formulario__form__reset {
  display: flex;
  justify-content: space-around;
}
