.titulo-pagina {
  text-align: center;
}

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.nosotros__texto {
  font-size: 14px;
  text-align: justify;
  flex-grow: 1;
}

.nosotros__imagen {
  flex-grow: 1;
}

.nosotros__imagen__ppal {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  object-fit: cover;
}

.informacion {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 32px;
  align-items: center;
}

.informacion__horarios {
  font-size: 14px;
  text-align: center;
  flex-grow: 1;
  width: 100%;
}

.informacion__mapa {
  width: 95%;
  margin-bottom: 20px;
  flex-grow: 2;
}

@media (min-width: 600px) {
  .nosotros {
    flex-direction: row;
  }

  .informacion {
    flex-direction: row-reverse;
  }
}
