#categorias {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  overflow: scroll;
  position: relative;
}
.categorias__categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categorias__categoria:hover {
  color: var(--color-secondary);
}

.categorias__direction {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--color-main);
  border-radius: 100%;
  padding: var(--xs);
  opacity: 0.6;
}

.categorias__direction.forwards {
  right: 10px;
}

.categorias__direction.backwards {
  left: 10px;
}

@media (min-width: 600px) {
  #categorias {
    overflow: hidden;
    justify-content: space-evenly;
  }
}
.categorias__categoria__imagen {
  object-fit: cover;
  max-width: 120px;
  max-height: 120px;
}
.categorias__categoria__imagen:hover {
  transform: scale(1.05);
}

#modelos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 64px;
}

.modelos__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modelos__link:hover {
  color: var(--color-secondary);
}

.modelos__foto {
  object-fit: cover;
  max-width: 240px;
  max-height: 240px;
}
.modelos__foto:hover {
  transform: scale(1.05);
}

.bottom__numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
  font-weight: bold;
  font-size: 1rem;
}
