@media (max-width: 600px) {
  .desktop-only {
    display: none !important; } }

@media (min-width: 600px) {
  .mobile-only {
    display: none !important; } }

@font-face {
  font-family: LuxuriousRoman;
  src: url(../fonts/LuxuriousRoman-Regular.ttf); }

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none !important;
  color: inherit !important; }

body {
  background-image: url(../images/fondo.jpg);
  display: grid;
  font-family: LuxuriousRoman, Arial, sans-serif !important;
  grid-template-columns: 100%;
  grid-template-rows: 60px auto 40px;
  grid-template-areas: "header" "content" "footer";
  margin: 0;
  min-height: 100vh;
  overflow-inline: hidden; }

.header {
  grid-area: header;
  background-color: #7f5a83;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  gap: 16px;
  padding: 12px; }
  .header__home {
    display: flex;
    align-items: center;
    gap: 8px; }
    .header__home__logo {
      max-width: 42px;
      max-height: 42px;
      object-fit: cover;
      border-radius: 100%; }
    .header__home__titulo {
      font-size: 18px;
      width: max-content; }
  .header__menu {
    display: flex;
    gap: 12px;
    font-size: 12px;
    padding: 0;
    margin: 0;
    list-style: none; }
    .header__menu.desktop-only li {
      display: block;
      font-weight: 700; }
    .header__menu__selected-page,
    .header__menu.desktop-only li:hover {
      color: #d8b4a0; }

#content {
  grid-area: content;
  padding: 12px; }

.footer {
  grid-area: footer;
  background-color: #d8b4a0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
  color: black; }
  .footer__contacto-social {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 10px;
    gap: 4px;
    max-height: 16px; }
    .footer__contacto-social__icono {
      object-fit: cover;
      font-size: 14px; }

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px auto;
  max-width: 600px;
  justify-self: center; }
  .carousel__item {
    height: 300px;
    align-items: center;
    justify-content: center; }
    @media (min-width: 550px) {
      .carousel__item {
        height: 450px; } }
    .carousel__item.active {
      display: flex; }
    .carousel__item__image {
      height: 100%;
      width: 100%;
      object-position: top;
      object-fit: cover; }

.productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #7f5a83;
  position: relative; }
  .productos__title {
    font-weight: 700; }
  .productos__links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    width: 100%;
    padding: 24px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory; }
    @media (min-width: 600px) {
      .productos__links {
        overflow: hidden;
        justify-content: space-evenly; } }
    .productos__links__card {
      background-color: rgba(216, 180, 160, 0.5);
      padding: 8px;
      border-radius: 8px;
      transition: all 300ms ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      scroll-snap-align: start; }
      .productos__links__card:hover {
        transform: scale(1.05);
        box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.2); }
      .productos__links__card img {
        object-fit: cover;
        max-width: 240px;
        max-height: 240px;
        border-radius: 8px; }
      .productos__links__card span {
        font-weight: bold; }

.titulo-pagina {
  font-weight: 700;
  color: #7f5a83; }

.categorias {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  padding: 24px 0;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory; }
  @media (min-width: 600px) {
    .categorias {
      overflow: hidden;
      justify-content: space-evenly; } }
  .categorias__categoria {
    background-color: rgba(216, 180, 160, 0.5);
    padding: 8px;
    border-radius: 8px;
    transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    scroll-snap-align: start; }
    .categorias__categoria:hover {
      transform: scale(1.05);
      box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.2); }
    .categorias__categoria img {
      object-fit: cover;
      max-width: 200px;
      max-height: 200px;
      border-radius: 8px; }
    .categorias__categoria span {
      font-weight: bold; }
  .categorias__direction {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #7f5a83;
    border-radius: 100%;
    padding: 8px;
    opacity: 0.6; }
    .categorias__direction .forwards {
      right: 10px; }
    .categorias__direction .backwards {
      left: 10px; }

.modelos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 64px; }
  .modelos__card {
    display: flex;
    flex-direction: column;
    background-color: rgba(127, 90, 131, 0.5); }
    .modelos__card:hover {
      transform: scale(1.05);
      box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.2); }
    .modelos__card__foto img {
      object-fit: cover;
      object-position: top;
      width: 240px;
      height: 300px; }
    .modelos__card__texto {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px; }
      .modelos__card__texto__nombre {
        font-weight: 700; }
      .modelos__card__texto__tipo {
        font-size: 12px;
        color: white; }
  .modelos__modal .carousel-item {
    height: 300px;
    align-items: center;
    justify-content: center; }
    .modelos__modal .carousel-item.active {
      display: flex; }
    .modelos__modal .carousel-item-image {
      height: 100%;
      width: 100%;
      object-position: top;
      object-fit: cover; }
  .modelos__modal .modelo__descripcion {
    margin-top: 12px; }
    .modelos__modal .modelo__descripcion__texto {
      text-align: justify; }
  .modelos__modal .medidas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    color: #7f5a83; }
    .modelos__modal .medidas__table {
      min-width: 300px; }
      .modelos__modal .medidas__table td {
        text-align: center; }

.bottom__numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
  font-weight: bold;
  font-size: 1rem; }

.titulo-pagina {
  text-align: center; }

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px; }
  .nosotros__texto {
    font-size: var(--font-medium);
    text-align: justify;
    flex-grow: 1; }
  .nosotros__imagen {
    flex-grow: 1; }
    .nosotros__imagen__ppal {
      display: flex;
      justify-content: space-around;
      max-width: 100%;
      object-fit: cover; }

.informacion {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 32px;
  align-items: center;
  flex-direction: row-reverse; }
  .informacion__horarios {
    font-size: 14px;
    text-align: center;
    flex-grow: 1;
    width: 100%; }
  .informacion__mapa {
    width: 95%;
    margin-bottom: 16px;
    flex-grow: 2; }
  @media (min-width: 600px) {
    .informacion {
      flex-direction: row; } }

.horizontal {
  flex-direction: row;
  gap: var(--m); }

.contenedor-formulario {
  display: flex;
  justify-content: center;
  margin-left: var(--xs);
  margin-right: var(--xs); }
  .contenedor-formulario__form {
    width: 100%;
    max-width: 450px; }
    .contenedor-formulario__form__campo-horizontal {
      display: flex;
      align-content: space-around;
      gap: var(--l);
      justify-content: center; }
      .contenedor-formulario__form__campo-horizontal__sexo {
        display: flex;
        align-items: center; }
    .contenedor-formulario__form__reset {
      display: flex;
      justify-content: space-around; }
    .contenedor-formulario__form__campo-formulario {
      font-size: var(--font-medium);
      margin: var(--m) 0;
      display: flex;
      flex-direction: column; }
      .contenedor-formulario__form__campo-formulario input,
      .contenedor-formulario__form__campo-formulario textarea {
        padding: var(--xs);
        border-radius: var(--xs);
        border: 1px solid black; }
