@import "../base/variables";

.contenedor-formulario {
  display: flex;
  justify-content: center;
  margin-left: $l;
  margin-right: $xs;

  &__form {
    width: 100%;
    max-width: 450px;

    &__campo-horizontal {
      display: flex;
      align-content: space-around;
      gap: $l;
      justify-content: center;

      &__sexo {
        display: flex;
        align-items: center;
      }
    }

    &__reset {
      display: flex;
      justify-content: space-around;

      .btn-primary.boton {
        background-color: $color-main;
        border-color: $color-main;

        &:hover,
        &:focus,
        &:active {
          background-color: $color-main;
          border-color: $color-main;
          opacity: 0.8;
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem $bg-color-main;
        }
      }
    }

    &__campo-formulario {
      font-size: $font-medium;
      margin: $m 0;
      display: flex;
      flex-direction: column;

      &.horizontal {
        flex-direction: row;
        gap: $m;
      }

      input,
      textarea {
        padding: $xs;
        border-radius: $xs;
        border: 1px solid black;
      }
    }
  }
}
