@import "../base/variables";

.titulo-pagina {
  text-align: center;
}

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: $xl;
  padding-left: $m;
  padding-right: $m;

  &__texto {
    font-size: var(--font-medium);
    text-align: justify;
    flex-basis: 100%;
  }

  &__imagen {
    flex-basis: 100%;

    &__ppal {
      display: flex;
      justify-content: space-around;
      max-width: 100%;
      object-fit: cover;
    }
  }

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.informacion {
  display: flex;
  flex-direction: column;
  margin-top: $xl;
  gap: $xl;
  align-items: center;

  &__horarios {
    font-size: $font-title;
    text-align: center;
    flex-basis: 100%;
    width: 100%;
  }

  &__mapa {
    width: 95%;
    margin-bottom: $m;
    flex-basis: 100%;
  }

  @media (min-width: 600px) {
    flex-direction: row-reverse;
  }
}
